body {
  background-color: lightblue;
  margin: ;
  padding: ;
}

img {
  width: 240px;
  border-radius: px;
  float: left;
  margin-right: 50px;
}

;

ul {
  list-style-type: "square";
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}